                * {
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                    background-color: #fff;
                    font-family: sans-serif;
                }
                
                a {
                    display: inline-block
                }
                
                li {
                    list-style-type: none
                }
                
                .first-curvature {
                    background-color: #282e40;
                    height: 27px
                }
                
                .navigation {
                    position: relative;
                    display: flex;
                    flex: row
                }
                
                .header-img {
                    margin-top: 30px;
                    margin-left: 50px
                }
                
                .navigation ul li {
                    display: inline-block;
                    font-size: 21px;
                    padding: 15px;
                    margin-left: 30px;
                    margin-right: 20px
                }
                
                .navigation ul li a {
                    color: #282e40
                }
                
                .navigation ul li a:hover {
                    color: #2672b8;
                    transition: color 0.2s ease-in-out
                }
                
                .navbar {
                    margin-top: 30px;
                    margin-left: 350px;
                    text-align: center
                }
                
                .content-1 {
                    display: flex;
                    justify-content: center;
                    margin-left: 110px;
                    margin-right: 110px
                }
                
                .content-1-text {
                    background-color: #282e40;
                    margin-left: -120px;
                    padding-left: 100px;
                    padding-top: 100px;
                    margin-top: 60px;
                    padding-bottom: 30px;
                    margin-bottom: 120px;
                    line-height: 70px
                }
                
                .content-1-text>h2 {
                    background-color: #282e40;
                    color: #2672b8;
                    font-size: 50px;
                    font-weight: 700
                }
                
                .content-1-text>h1 {
                    background-color: #282e40;
                    color: #fff;
                    text-transform: capitalize;
                    font-size: 50px;
                    font-weight: 500
                }
                
                .content-1-text>p {
                    padding-right: 50px;
                    background-color: #282e40;
                    color: #fff;
                    line-height: 28px;
                    font-size: 17px
                }
                
                .content-1-img {
                    margin-right: 90px;
                    margin-top: 50px
                }
                
                .buy {
                    height: 100px
                }
                
                .buy>a {
                    color: #fff;
                    background-color: #282e40;
                    display: inline-block;
                    margin-top: 30px;
                    margin-left: 120px;
                    padding: 20px 65px
                }
                
                .buy>a:hover {
                    background-color: #5293b7;
                    transition: all .5s ease-in-out
                }
                
                .content-3 {
                    margin-right: 150px;
                    margin-top: 80px;
                    display: flex;
                    flex-direction: row
                }
                
                .content-3-apple {
                    margin-left: 150px
                }
                
                .content-3-text {
                    margin-left: 50px;
                    margin-top: 30px
                }
                
                .content-3-text>h2 {
                    font-weight: 700;
                    margin-bottom: 30px;
                    font-size: 40px;
                    font-weight: 500;
                    text-align: left;
                    color: #282e40
                }
                
                .content-3-text>p {
                    display: inline-block;
                    margin: 0;
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 28px;
                    color: #333
                }
                
                .content-3-text>a {
                    margin-top: 40px;
                    color: #fff;
                    background-color: #282e40;
                    display: inline-block;
                    padding: 20px 65px;
                    font-weight: 500;
                    font-size: 20px;
                    text-transform: capitalize
                }
                
                .content-3-text>a:hover {
                    background-color: #5293b7;
                    transition: all .3s ease-in-out
                }
                
                .content-4 {
                    margin-top: 100px;
                    margin-bottom: 100px
                }
                
                .content-4-after {
                    position: relative;
                    display: inline-block;
                    background-color: #282e40
                }
                
                .Our-Fruits {
                    position: absolute;
                    margin-top: 50px;
                    margin-left: 50%;
                    background-color: #282e40;
                    color: #fff
                }
                
                .fruits {
                    margin-left: 50px;
                    margin-top: 150px;
                    margin-bottom: 100px;
                    display: flex;
                    flex-direction: row
                }
                
                .fruits h2 {
                    background-color: #282e40;
                    text-align: center;
                    color: #fff;
                    margin-left: 50px
                }
                
                .fruits h3 {
                    background-color: #282e40;
                    color: #12c6f4;
                    margin-left: 50px;
                    text-align: center
                }
                
                .fruits-1>img {
                    height: 200px
                }
                
                .fruits-1 {
                    background-color: #282e40
                }
                
                .fruits-2>img {
                    margin-left: 20px;
                    height: 200px
                }
                
                .fruits-2 {
                    background-color: #282e40
                }
                
                .fruits-3>img {
                    margin-left: 20px;
                    height: 200px
                }
                
                .fruits-3 {
                    background-color: #282e40
                }
                /* content5 */
                
                .content-5 {
                    display: flex;
                    flex-direction: row
                }
                
                .content-5 {
                    margin-top: 100px;
                    margin-bottom: 100px;
                    margin-left: 120px;
                }
                
                .content-5-text {
                    margin-top: 70px;
                }
                
                .content-5-text>h1 {
                    font-size: 75px;
                    font-weight: 700;
                    color: #5293b7;
                    padding: 0;
                    margin-top: 50 px;
                    margin-top: 40px;
                }
                
                .content-5-text>p {
                    margin: 0;
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 28px;
                    color: #333;
                    margin-top: 40px;
                }
                
                .content-5-text>a {
                    border: solid 0.5px #282E40;
                    margin-top: 40px;
                    color: #282E40;
                    background-color: transparent;
                    display: inline-block;
                    padding: 20px 65px;
                    font-weight: 500;
                    font-size: 20px;
                    text-transform: capitalize;
                }
                
                .content-5-text>a:hover {
                    background-color: #5293b7;
                    transition: all .3s ease-in-out
                }
                
                .content-5-img {
                    vertical-align: middle;
                }
                /* }content-6 */
                
                .content-6 {
                    margin-bottom: 100px;
                }
                
                .content-6-after {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;
                    background-color: #282E40;
                    margin-left: 130px;
                    padding-right: 50px;
                    padding-bottom: 100px;
                    padding-top: 250px;
                }
                
                .Our-Blog {
                    position: absolute;
                    right: 50%;
                    bottom: 600px;
                    background-color: #282e40;
                    color: white;
                    font-size: 45px;
                    font-weight: 500;
                }
                
                .c-6-1 {
                    margin-left: 50px;
                    background-color: #12C6F4;
                }
                
                .c-6-1>h3 {
                    background-color: #12C6F4;
                    color: white;
                    font-size: 15px;
                    position: relative;
                    z-index: 1;
                    padding-bottom: 5px;
                }
                
                .c-6-1>p {
                    background-color: #12C6F4;
                    font-size: 15px;
                    line-height: 23px;
                    padding: 0 15px 20px 15px;
                    position: relative;
                    z-index: 1;
                }
                
                .c-6-2 {
                    margin-left: 50px;
                }
                
                .c-6-2>h3 {
                    background-color: #12C6F4;
                    color: white;
                    font-size: 15px;
                    position: relative;
                    z-index: 1;
                    padding-bottom: 5px;
                }
                
                .c-6-2>p {
                    background-color: #12C6F4;
                    font-size: 15px;
                    line-height: 23px;
                    padding: 0 15px 20px 15px;
                    position: relative;
                    z-index: 1;
                }
                
                .c-6-3 {
                    margin-left: 50px;
                }
                
                .c-6-3>h3 {
                    color: white;
                    background-color: #12C6F4;
                    font-size: 15px;
                    position: relative;
                    z-index: 1;
                    padding-bottom: 5px;
                }
                
                .c-6-3>p {
                    font-size: 15px;
                    line-height: 23px;
                    padding: 0 15px 20px 15px;
                    position: relative;
                    z-index: 1;
                    background-color: #12C6F4;
                }
                /* content-7 */
                
                .content-7 {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 100px;
                }
                
                .register {
                    margin-top: 100px;
                }
                
                .content-7-img {
                    margin-top: 100px;
                }
                
                input[type=text],
                select {
                    color: white;
                    background-color: #282E40;
                    width: 90%;
                    padding: 30px 30px;
                    margin: 8px 0;
                    margin-left: 50px;
                    display: inline-block;
                    border: solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
                
                input[type=text]:focus {
                    border: 3px solid #555;
                }
                
                textarea {
                    color: white;
                    margin-left: 50px;
                    width: 90%;
                    height: 150px;
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border: solid #ccc;
                    border-radius: 4px;
                    font-size: 16px;
                    resize: vertical;
                    background-color: #282E40;
                }
                
                span {
                    font-size: 45px;
                    color: #12C6F4;
                }
                
                .register>h2 {
                    margin-left: 50px;
                    margin-bottom: 40px;
                    color: #282E40;
                    font-size: 45px;
                }
                
                .content-7 .register>a {
                    margin-left: 55px;
                    margin-top: 40px;
                    color: #282E40;
                    background-color: #12c6f4;
                    display: inline-block;
                    padding: 20px 80px;
                    font-weight: 500;
                    font-size: 20px;
                    text-transform: capitalize
                }
                
                .content-7 .register>a:hover {
                    background-color: #5293b7;
                }
                /* content-8 */
                
                .content-8 {
                    font-weight: 300;
                }
                
                .content-8-after {
                    display: flex;
                    justify-content: center;
                    background-color: #282E40;
                    font-weight: 300;
                }
                
                .Contact-Us {
                    color: white;
                    padding-right: 50px;
                    padding-bottom: 31px;
                    background-color: #282E40;
                    font-weight: 300;
                }
                
                .Contact-Us-1 {
                    padding-top: 30px;
                    background-color: #282E40;
                    color: white;
                    font-weight: 300;
                }
                
                .Contact-Us-end a {
                    padding-bottom: 38.5px;
                    padding-right: 5px;
                    background-color: #282E40;
                    color: white;
                }
                
                .Contact-Us a {
                    display: inline-block;
                    background-color: #282E40;
                    color: white;
                    font-weight: 300;
                }
                
                .Contact-Us a:hover {
                    color: #1AA7B4;
                }
                
                .content-8-fruits {
                    display: flex;
                    flex-direction: column;
                }
                
                .content-8-fruits img {
                    height: 50px;
                    font-weight: 300;
                }
                
                .contact-us-2 {
                    padding-top: 15px;
                    font-weight: 300;
                }
                
                .content-8-fruits {
                    background-color: #282E40;
                    padding-top: 30px;
                    padding-left: 20px;
                    font-weight: 300;
                }
                
                .img-p {
                    background-color: #282E40;
                    display: flex;
                    flex-direction: row;
                    font-weight: 300;
                }
                
                .img-p>p {
                    padding-left: 20px;
                    background-color: #282E40;
                    color: white;
                }
                
                .ssss {
                    padding-right: -40px;
                }
                
                .img-p-first {
                    padding-left: 25.5px;
                }
                
                .img-p-middle {
                    padding-left: 20px;
                }
                
                .img-p-end {
                    display: flex;
                    flex-direction: row;
                    background-color: #282E40;
                    padding-bottom: 50px;
                }
                
                .img-p-end>p {
                    padding-left: 15px;
                    background-color: #282E40;
                    padding-bottom: 17.5px;
                    color: white;
                }
                
                input[type=tezt],
                select {
                    color: black;
                    background-color: white;
                    width: 90%;
                    padding: 20px 30px;
                    margin: 8px 0;
                    display: inline-block;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
                
                .Contact-Us-21 a {
                    color: #282E40;
                    background-color: #12c6f4;
                    display: inline-block;
                    padding: 10px 20px;
                    font-weight: 500;
                    font-size: 20px;
                    text-transform: capitalize;
                }
                
                .Contact-Us-21 a:hover {
                    background-color: #5293b7;
                }
                
                .Contact-US {
                    padding-top: 30px;
                }
                
                .Contact-Us-21 {
                    margin-left: 30px;
                    background-color: #282E40;
                }
                
                .aaaaa {
                    padding-right: 100px;
                }
                /* content-9 */
                
                .content-9>p {
                    font-size: 15px;
                    color: white;
                    padding-left: 500px;
                    padding-top: 17px;
                    height: 35px;
                    background-color: #046882;
                    margin-bottom: 100px;
                }
                /* reklam */
                
                .reklam {
                    margin-left: 250px;
                    margin-bottom: 20px;
                }
